<!DOCTYPE html>
<html>
  <head>
    <title>SpellingBee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=<%= ENV['RESPONSIVE_VOICE_KEY'] %>"></script>
  </head>

  <body>
    <div class="p-5 text-center text-white bg-yellow-500 border-orange-600 border-b-4">
      <h1 class="text-3xl font-bold">
        <i class="fas fa-trophy text-orange-600"></i>
        <%= link_to "Spelling Bee Trainer", root_path %>
      </h1>
      Hello, <%= current_person.name %> (<%= link_to "aka #{current_person.nickname}", my_profile_index_path, class: "underline" %>)
    </div>

    <div class="p-10 links-blue">
      <%= render "flash_messages", flash: flash %>

      <%= yield %>
    </div>
  </body>
</html>
