<!DOCTYPE html>
<html>
  <head>
    <title>SpellingBee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=<%= ENV['RESPONSIVE_VOICE_KEY'] %>"></script>
  </head>

  <body>
    <h1><%= link_to "Spelling Bee Trainer", root_path %></h1>
    <h2>
      Hello <%= current_person.name %> (<%= link_to current_person.nickname, my_profile_index_path %>)
    </h2>
    <%= render "flash_messages", flash: flash %>

    <%= yield %>
  </body>
</html>
